<h1>Your Wall</h1>

<%= form_for @post, html: { class: "post-form" } do |f| %>
  <%= f.text_area :body, autofocus: true, placeholder: "What are you doing now?" %>
  <%= f.submit "Post" %>
<% end %>

<%= render partial: 'posts/post', collection: @posts %>
