/*
 *= require_tree .
 *= require_self
 */

.container {
  width: 960px;
  margin: 0 auto;

  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

header {
  background: navy;
  padding: .5em;

  a {
    color: white;
    text-decoration: none;
  }
}

.logo {
  float: left;
  font-weight: bold;
}

.logout {
  float: right;
}

.errors {
  color: maroon;
  margin-bottom: 1em;
}

.signin-form {
  width: 20em;
  border: 1px solid #ccc;
  padding: 2em;
  margin: 2em auto;
  background: #efefef;

  > div {
    padding: .3em 0;
  }

  label {
    display: inline-block;
    width: 6em;
  }

  input[type=submit] {
    margin-left: 6.3em;
  }
}

.post-form {
  textarea {
    width: 100%;
    height: 3em;
    margin-bottom: .5em;
  }

  input[type=submit] {
    background: navy;
    border: 0px;
    color: white;
    padding: .5em 1em;
  }

  margin-bottom: 2em;
}

.post {

  padding: 1em 0;
  & + & {
    border-top: 1px solid #ccc;
  }

  .body {
    font-size: 1.3em;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  .time {
    color: #999;
    float: right;
  }
}